header {
  min-height: 20vh;
  max-height: 20vh;
  background-image: url("https://i.imgur.com/K8DDs9i.jpg");
  background-attachment: fixed;
  background-position: 50% 20%;
  background-size: cover;
}

header h1 {
  background-color: (0, 0, 0, 0.4);
  color: #fff;
  text-shadow: 2.5px 2px 0.5px var(--gris-oscuro);
  text-align: center;
  font-size: 3rem;
  font-weight: 250;
  letter-spacing: 0;
  line-height: normal;
}
